# UTF-8 Everywhere для Free Pascal. Использование:
#   fpc @utf8.cfg -Fu<папка с utf8everywhere.pas> program.pas
# или дописать эти строки в свой fpc.cfg, и тогда так будет для всех программ.

# string = AnsiString (иначе в режиме по умолчанию string = ShortString, 255 байт)
-Mobjfpc
-Sh
# исходники в UTF-8
-FcUTF8
# вставить модуль первым в uses каждой программы: менять исходники не нужно
-FaUTF8Everywhere
